*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


body{
  background-color:hsl(185, 41%, 84%);
  font-family:Space Mono;
  font-size: 24px;
  font-weight: 800;

}




.calculator{
    /* border: 2px solid white ; */
    display: flex;
    justify-content:space-evenly; 
    padding: 20px;
    align-items: center;
    height: 481px;
    max-width: 920px;
    background-color: white;
    margin: 50px auto 0 auto;
    gap : 20px;
    border-radius: 10px;
}

.card-two{
    background-color: hsl(183, 100%, 15%);
    max-width: 413px;
    height: 417px;
    padding: 30px;
    border-radius: 10px;
}
.Tip{
    display: flex;
    justify-content: space-between;

} 
.Tip-text > p{
    margin-bottom:2px;
    padding: 0;
    color: #FFFFFF;
}

.Tip-text > span{
    color:#7F9D9F;
}

.Tip-number{
    color: #26C2AE;
}

.card-two button {
    align-items: center;
    width: 373px;
    margin: 80px auto 0 auto;
    height: 48px;
    background-color: #26C2AE;
    border: none;
    outline: none;
}
.card-two button:hover{
    background-color: #9FE8DF;
    color: #00474B;
}


.Bill svg {
    position:absolute;
    padding:  15px 6px  5px  ;
    text-align: center;
    
}


.Bill input {
    padding: 8px;
    text-align: right;
    width: 375px;
}

.percentage-button{
    display: grid;
    max-width:379px;
    height: 152px;
    grid-template-columns: repeat(3,117px);
    grid-template-rows: repeat(2,48px) ;
    gap: 15px;
    color: aqua;
   
}
.card-one{
    margin-top: 20px;
    
    width:379px;
    height: 408px;

}

.percentage-button button {
    background-color: #00474B;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: Space Mono;
    color: #FFFFFF;
}
.percentage-button button:hover{
 background-color: #26C2AE ;
}
.logo{
    width:86.6px;
    margin: 30px auto;
    
}

 @media   (max-width:425px) {
    /* for mobile phones */
    .calculator{
        display: flex; 
        flex-direction:column; 
        height:789px;
        width:375px; 
        padding-left: 20px;

       
        
 
    }

    
    .card-one{
        order: 1;
        align-items: center;
      
        padding-left: 20px;
    }

    .card-two{
        order: 2;
        width: 327px;
        height: 257px;
        border-radius: 15px;
        padding: 30px;
        align-items: center;
    }
    .percentage-button{
        display: grid;
        grid-template-columns: repeat(2,146.63px);
        grid-template-rows: repeat(3,48px);
        max-width: 311px;
        margin-bottom: 50px;

        
    }

    .card-two button{
        width: 281px;
        margin-top: 0;
    }

    .Bill Input{
     width: 311px;
    }

    
} 
/* input[type='number']{
    
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
    
    
} */

/* .label-container{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
      
} */


/* button{
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    margin-top: 10px;
    cursor: pointer;
} */

/* .column{
    flex: 1;
} */